<div class="flex flex-col justify-center content-center items-center w-full h-full">
    <div class=" flex flex-col justify-center content-center items-center p-6 w-1/4 h-1/4 bg-stone-400 rounded-lg shadow-md gap-5">

        <button class="btn btn-primary w-full bg-stone-700 text-white font-semibold py-2 px-4 rounded-lg hover:bg-stone-600 transition duration-200" onclick="render('Email')">Felhasználók kezelése</button>
    

    
        <button class="btn btn-primary w-full bg-stone-700 text-white font-semibold py-2 px-4 rounded-lg hover:bg-stone-600 transition duration-200" onclick="render('Password')">Receptek kezelése</button>

    
        <button class="btn btn-primary w-full bg-red-800 text-white font-semibold py-2 px-4 rounded-lg hover:bg-red-600 transition duration-200" onclick="logout()">Kijelentkezés</button>
    
    </div>
</div>