<div class="flex flex-row justify-evenly content-center items-center w-full h-full">
    <span class="ChefDuo w-[400px] h-[400px] rounded-full drop-shadow-lg"></span>
    <span class="flex flex-col justify-center content-center items-center w-1/2 gap-5">
        <h3 class="text-2xl text-stone-200">Üdvözlünk az oldalon</h3>
        <p class="text-xl text-stone-300 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam facilis voluptate adipisci voluptatibus architecto, harum esse quo iste, tempora sed accusantium? Non enim repellat ipsa incidunt quis voluptatum modi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolor quia, rem minima facere autem, quisquam dicta accusantium assumenda voluptatibus vitae cumque! Dolores natus ab quasi officiis eius! Corrupti, eius.</p>
        <div class="flex flex-row justify-start content-center items-center gap-5 w-full">
            <button id="join" class="bg-stone-900 text-stone-50 p-3 rounded-[15px] text-lg hover:bg-green-700" onclick="render('Regisztracio')">
                Legyél te is tag!
            </button>
            <button id="tarr" class="bg-stone-700 text-stone-50 p-3 rounded-[15px] text-lg hover:bg-stone-600">
                <a href="https://kulimakekszeresz.hu" target="_blank">Támogasd Tarr Gábort!</a>
            </button>
            
        </div>  
    </span>
</div>
<style>

    .ChefDuo{
        background-image: url(../Frontend/Assets/img/chefDuo.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        outline: 5px solid #f5f5f4;
    }
    #join:hover, #tarr:hover{
        transition: 0.2s ease-in;
    }
    #join:not(:hover), #tarr:not(:hover){
        transition: 0.2s ease-out;
    }
    
</style>    