<div class="p-3">
    <div class="container" >
        <hr>
    <div class="form-floating mb-3" style="width: 80%;">
        <input type="text" class="form-control" id="name" placeholder="Név">
        <label for="name">Név</label>
    </div>
    <div class="form-floating mb-3" style="width: 80%;">
        <input type="email" class="form-control" id="email" placeholder="név@példa.com">
        <label for="email">E-mail cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="telefon" placeholder="Telefon (nem kötelező)">
        <label for="passwd">Telefon</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Jelszó">
        <label for="confirm">Jelszó</label>
    </div>
    <div class="form-floating mb-3" style="width: 80%;">
        <input type="password" class="form-control" id="confirm" placeholder="Jelszó megerősítése">
        <label for="confirm">Jelszó megerősítése</label>
    </div>
    <button class="btn btn-primary mb-3" onclick="registration()">Regisztráció</button>

    </div>
</div>

